server:
  domain: user
  version: 1.0
  jwtSecret: HelliWrold1
  identityKey: id
  sha256key: HelliWrold1
  userServiceName: User
  userServiceAddr: 127.0.0.1:9000
  commentServiceName: Comment
  commentServiceAddr: 127.0.0.1:9001
  videoServiceName: Video
  videoServiceAddr: 127.0.0.1:9002
  likeServiceName: Like
  likeServiceAddr: 127.0.0.1:9003
  apiServiceName: QuaverApi
  apiServiceAddr: 127.0.0.1:9001
  exportEndpoint: :4317

mysql:
  host: 127.0.0.1
  port: 3306
  database: quaver
  username: root
  password: root
  charset: utf8mb4
  maxIdleConns : 28  # 空闲连接池最连接数
  maxOpenConns : 100 # 最大打开连接数
  maxLifeTime  : 30  # sec,连接的最长重用时间
  maxIdleTime  : 30  # sec,连接最长空闲时间

etcd:
  address: 127.0.0.1:2379

redis:
  host: 127.0.0.1:6379
  port:
  password:
  database:
  poolSize:
  minIdleConns:

gormGen:
  queryOutPath: dal/query # query文件输出目录